{% extends "base.html" %}

{% block content %}
<div class="section">
    <div class="container">
        <h1 class="title">Создание нового заказа</h1>
        <form action="/orders/create" method="post">
            <!-- Поле для типа заказа -->
            <div class="field">
                <label class="label">Тип заказа</label>
                <div class="control">
                    <div class="select is-fullwidth">
                        <select name="order_side" required>
                            <option value="Buy">Покупка</option>
                            <option value="Sell">Продажа</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Поле для метода оплаты -->
            <div class="field">
                <label class="label">Метод оплаты</label>
                <div class="control">
                    <div class="select is-fullwidth">
                        <select name="payment_method" required>
                            <option value="СБП">СБП</option>
                            <option value="Любой банк">Любой банк</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Поле для суммы -->
            <div class="field">
                <label class="label">Сумма</label>
                <div class="control">
                    <input class="input is-fullwidth" type="number" name="amount" step="0.01" placeholder="Введите сумму" required>
                </div>
            </div>

            <!-- Поле для имени клиента -->
            <div class="field">
                <label class="label">Имя клиента</label>
                <div class="control">
                    <input class="input is-fullwidth" type="text" name="customer_name" placeholder="Введите имя клиента" required>
                </div>
            </div>

            <!-- Поле для ID клиента -->
            <div class="field">
                <label class="label">ID клиента</label>
                <div class="control">
                    <input class="input is-fullwidth" type="text" name="client_order_id" placeholder="Введите ID клиента" required>
                </div>
            </div>

            <!-- Кнопка для отправки -->
            <div class="control">
                <button class="button is-primary" type="submit">Создать</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}