{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Панель управления</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Всего заказов</h5>
                    <p class="card-text">0</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Открытые диспуты</h5>
                    <p class="card-text">0</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}